.item_wrapper{
    width: 30%;
    margin: 20px;
}

.item_li{
    width: 100%;
}

.item {
    display: flex;
    margin: 20px;
}
.item_img {
    width: 15%;
    height: 15%;
    margin-right: 20px;
}

.item_title {
    width: 50%;
}

.icon {
    width: 70%;
    margin: 0 auto;
}